
<div>
  <img src="https://thebaynet.s3.amazonaws.com/media/photos/gallery/becfcba4-01b2-4f6c-9ef2-ec90825b7626.jpg" width="100%" height="350px" alt="quotes">
    <h1>
      InspireIt{{ title }}!
      <br>
      </h1>
     Inspire & Get Inspired
    <hr>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-md-6">
        <div *ngFor='let sayings of quotes, let i=index'>
          <div>
              <h6 id={{i}} appStrikethrough>{{sayings.author}} </h6>
              <br>
          <button (click)='toggleDetails($event,i)' class="btn btn-primary">Details</button>
          <br>
      </div>
       <div *ngIf='quotes.showdetails'>
         <br>
          <app-quote-details [quotes]='quotes' (isComplete) = 'deletequote($event,i)'></app-quote-details> 
        </div>
        <app-votes></app-votes>
    </div>
  </div>
  <div class="col-md-6">
      <app-quote-form (addQuote)="addQuote($event)"></app-quote-form>
  </div>
<br>
<br>
br
  <footer><p>&copy; 2019 QuoteIt.org</p></footer>
</div>