<div>
    <h1>
      InspireIt{{ title }}!
      <br>
      </h1>
     Inspire & Get Inspired
    <hr>
    </div>
    
      <ul> 
      
        <div *ngFor='let quot of quotes, let i=index'>
          <li appStrikethrough>{{quot.quotes}} due on {{quot.postDate|date|uppercase}}</li>
          <button (click)='toggledetails(i)'>Toggle Details</button>

          <app-quote-details *ngIf='quotes.showDescription' [quotes]='quotes' (isComplete) = 'deletequote($event,i)'></app-quote-details>
          <app-quote-details *ngIf='quotes.showDescription' [quotes]='quotes'(isComplete) = 'completequote($event,i)'></app-quote-details>
    </div>
</ul>