<div>
    <h1>
      InspireIt{{ title }}!
      <br>
      </h1>
     Inspire & Get Inspired
    <hr>
    </div>
    
    <div class="row">
        <div class="col-md-6">
        <div *ngFor='let quot of quotes, let i=index'>
          <div>
              <h6 id={{i}} appStrikethrough>{{quot.quotes}} </h6>
              <br>
          <button (click)='toggleDetails($event,i)' class="btn btn-primary">Details</button>
          <br>
      </div>
       <div *ngIf='quotes.showdetails'>
         <br>
          <app-quote-details *ngIf='quotes.showdetails' [quotes]='quotes' (isComplete) = 'deletequote($event,i)'></app-quote-details>
          
        </div>
    </div>
  </div>
  <div class="col-md-6">
      <app-quote-form></app-quote-form>
  </div>
</div>