    <div class="container-fluid">
        <h2 class="text-center">Create a new quote</h2>
        <hr>
        <form (ngSubmit)='submitQuoty()' #quoteForm='ngForm'>
            <div class="form-group">
      
                <label for="quotes">Quotes</label>
                <input type="text" class="form-control" id="quotes" [(ngModel)]="newQuote.quotes" name="quotes" #quotes='ngModel' required>
                <div [hidden]="quotes.valid || quotes.pristine" class="alert alert-danger">
                </div>
            </div>
            <div class="form-group">
      
                <label for="details">Details</label>
                <textarea class="form-control" id="details" rows="4" [(ngModel)]="newQuote.details" name="details" #details="ngModel" required></textarea>
                <div [hidden]="details.valid || details.pristine" class="alert alert-danger">
                </div>
            </div>
            <div class="form-group">
                <label for="complete">Complete</label>
                <input type='date' id="complete" [(ngModel)]="newQuote.complete" name="Complete" #complete="ngModel" required>
                <div [hidden]="complete.valid || complete.pristine" class="alert alert-danger">
                </div>
            </div>
            <button type="submit" class="btn btn-success">Add Quote</button>
        </form>
    </div>